ul {
  align-self: center;
  list-style: none;
  padding: 9;
  width: auto;
  margin-left: 10;
}
li{
  text-align: center;
  font-size: 1.0rem;
  line -height:2rem;
  border-bottom: 1px dotted #777;
}
h3, h4, h5
{
  text-align: center;
}
.login-form{
  align-content:center;

}
