header{

  background: white;
  height: 120px;
  margin-bottom: 30px;
  background-image: url('./log.png');
  background-repeat: no-repeat;
  background-size: 175px, 175px;
  background-position: left;
}

header section {
  width: 960px;
  margin: 0 auto;
}

header li {


}

.top-menu{

	background-color: lightgrey;
	border: solid 5px;
}
.top-menu li{
  background-color: lightgrey;
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  margin-left: 200px;


}
